body *:not(scipt) {
    box-sizing: border-box;
    font-family: Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;;
}

html {
    background-color: whitesmoke;
    min-height: 100%;
}

body {
    /* position: relative; */
    min-height: 100%;
}


/*make element's content text and img unselectable in most browsers*/

.unselectable, .unselectable * {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*exception for scripts and more*/

body script {
    display: none;
}

.body-width {
    max-width: 80em;
    width: 100%;
}

.h-center {
    margin-left: auto;
    margin-right: auto;
}

.radius {
    border-radius: .2em;
}

.shadow {
    box-shadow: .05em 0.1em .2em #999;
}

.nav-bar-line {
    width: 100%;
    background-color: black;
    box-shadow: 0 .2em .2em #999;
}

nav {
    height: 3em;
    background-color: black;
    margin: 0 auto 0 auto;
}

.nav-links{
    display: flexbox;
    display: -webkit-flex;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: .3s;
    text-align: center;
    margin-top: 0;
    line-height: 3em;
    text-align: center;
    padding: 0 1em;
}

nav a:hover {
    text-align: center;
    color: whitesmoke;
    transition: .3s;
    background-color: #555;
}

main {
    display: flexbox;
    display: -webkit-flex;
    margin: 1em;
    flex-direction: row-reverse;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* work and exp on the left */
.work {
    max-width: 56em;
    margin: 1em ;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1em;
    background-color: #fff;
}

.work>li {
    border-radius: .15em;
    border-top: .5em solid #d12e2c;
    margin-top: 2em;
}

.work li:first-child {
    margin-top: 0;
}

.detail-item {
    margin-top: .5em;
    padding: 0 .5em;
}

strong {
    font-weight: bold;
}

.detail-item li {
    line-height: 1.5em;
    vertical-align: middle;
}

h2 {
    padding-left: .5em;
    vertical-align: middle;
    line-height: 2em;
    font-weight: bold;
    background-color: #f9cdad;
}

.dot li {
    margin-left: 1em;
    list-style: disc;
}

/* contact */

.contact {
    margin: 1em;
    margin-bottom: 1em;
    min-width: 20em;
    background-color: #fff;
    /* width: 28%; */
    border-top: .5em solid #d12e2c;
}

.avatar-line {
    border-top: .1em solid #d12e2c;
    border-bottom: .1em solid #d12e2c;
    padding: .5em 0;
}
 .name{
    margin-top: 0.5em;
    text-align: center;
    color: dimgrey;
    line-height: 1.5em;
    vertical-align: middle;
    font-size: .75em;
}

.avatar {
    box-shadow: 0 0 .3em  #000;
    border-radius: 50%;
    border: .3em solid #d12e2c;
    width: 10em;
    height: 10em;
    background-image: url("../media/avatar.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.info p{
    padding: 1em 1em;
    font-size: .8em;
    color: dimgrey;
    line-height: 1.8em;
}

.email{
    text-decoration: none;
    color: dimgrey;
}
.email:hover{

    text-decoration: underline;
}

footer {
    height: 3em;
    background-color: black;
    /* position: relative; */
    width: 100%;
}

footer span {
    display: block;
    width: 100%;
    color: lightgrey;
    line-height: 3em;
    text-align: center;
}

@media (max-width:56em){
    .work, .contact{
        width: 100%;
    }
}