body *:not(scipt) {
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    ;
}

html {
    background-color: whitesmoke;
    min-height: 100%;
}

body {
    /* position: relative; */
    min-height: 100%;
}

/*make element's content text and img unselectable in most browsers*/

.unselectable, .unselectable * {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*exception for scripts and more*/

body script {
    display: none;
}

.h-center{
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
}

/* navigator */

.nav-bar-line {
    background-color: black;
    box-shadow: 0 .2em .2em #999;
}

nav {
    max-width: 80em;
    margin: 0 auto;
}

.nav-links {
    display: flexbox;
    display: -webkit-flex;
}

nav a {
    transition: .3s;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0 1em;
    line-height: 2.5em;
}

nav a:hover {
    transition: .3s;
    background-color: #555;
    color: whitesmoke;
}

/* main content */

main {
    max-width: 80em;
    margin: 0 auto;
    padding: 1em;
    display: flexbox;
    display: -webkit-flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.radius {
    border-radius: .2em;
}

.shadow {
    box-shadow: .05em .1em .2em #999;
}

/* work  */

.work {
    flex-shrink: 1;
    flex-grow: 1;
    padding: 1em;
    background-color: white;
}

.work>li {
    margin-bottom: 1em;
}

.work a{
    text-decoration: underline;
}

h2 {
    border-top: .3em solid orangered;
    background-color: orange;
    padding: 0.25em;
    font-weight: bold;
    color: black;
}

.detail-item p {
    line-height: 2em;
    color: #333;
    margin-left: 0.25em;
}

.dot li {
    margin-left: 1.5em;
    list-style: disc;
}

p.brief {
    line-height: 1.5em;
}

strong {
    font-weight: bold;
}

/* contact */

.contact {
    overflow: hidden;
    max-width: 16em;
    flex-shrink: 0;
    flex-grow: 0;
    margin-left: 1em;
    color: dimgrey;
    background-color: white;
}

.info {
    padding: 1em;
    font-size: 0.8em;
}

.avatar-line {
    border-bottom: .1em solid orangered;
}

.avatar {
    background-image: url(../media//avatar.png);
    margin: .5em auto;
    border: orangered .3em solid;
    width: 8em;
    height: 8em;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.name {
    text-align: center;
    margin-bottom: .5em;
}

.info a {
    text-decoration: none;
    color: inherit;
}

.info a:hover {
    text-decoration: underline;
}

.info p {
    line-height: 1.5em;
}

.wechat-qr {
    display: block;
    width: 100%;
    margin: 0;
    height: 8em;
    object-fit: contain;
    border-top: .2em solid orangered;
}

.wechat-qr+p {
    text-align: center;
}

/* footer */
footer{
    margin: 1em 0;
    text-align: center;
    color: dimgray;
}

@media (max-width:40em) {
    main {
        flex-wrap: wrap;
        align-items: normal;
    }
     .contact {
        width: 100%;
        min-width: 100%;
        margin: 0 0 0 1em;
    }
    .work {
        width: 100%;
    }
}